body {
  background: #bdbad4;
}

.header-two {
  font-family: Playfair display;
  color: #fff;
  font-size: 80px;
  margin-bottom: 1px;
}

.header-three {
  font-family: Roboto;
  color: #fff;
  margin-top: 1px;
  padding-bottom: 50px;
}

.header-one {
  font-family: Roboto;
  color: #fff;
  margin-bottom: -45px;
  margin-top: 70px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/pics/BTShearts.png");
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 700px;
  max-height: 800px;
  text-align: center;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

/* .subtext {
  display: block;
  margin: 0 auto;
  margin-top: -550px;
  padding-top: 100px;
  color: #000;
} */

#container-info {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1200px;
  aspect-ratio: 1 / 1;
}

.hero {
  padding-top: 30px;
}

.info-pic {
  border-radius: 4px;
  margin-top: 15px;
  display: block;
}

.info-sec-two {
  margin: 0 auto;
  display: inline-flexbox;
  text-align: center;
  max-width: 1200px;
  width: 1200px;
  height: 550px;
  border-radius: 4px;
  flex-wrap: wrap;
}

.info-header {
  margin: 0 auto;
  margin-top: -550px;
  padding-top: 100px;
  color: #000;
  font-size: 40px;
}

.footer-titles {
}

#info-btn {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 8px;
  background-color: rgb(194, 117, 235);
  color: #fff;
}

#hero-btn {
  margin-top: 250px;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 8px;
  background-color: rgb(194, 117, 235);
  color: #fff;
}

#hero-btn:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 #fff, 0 4px 8px 0 #fff;
  transition: ease-in-out;
}

.p-one {
  max-width: 50%;
  display: 0 auto;
  margin-left: 300px;
  margin-top: 100px;
}

.p-two {
  max-width: 50%;
  display: 0 auto;
  margin-left: 300px;
}

@media (max-width: 700px) {
  .header-two {
    font-size: 60px;
  }

  .header-three {
    font-size: 15px;
  }

  .header-one {
    font-size: 10px;
    margin-top: 100px;
  }

  #hero-btn {
    padding: 5px;
    margin-top: 300px;
  }
}
