body {
  background: #bdbad4;
}

header h1 {
  font-family: Playfair display;
  color: #fff;
  font-size: 100px;
  margin-bottom: 1px;
  /* margin-top: -25px; */
}

header h2 {
  font-family: Roboto;
  color: #fff;
  margin-top: 1px;
}

header {
  font-family: Roboto;
  color: #fff;
  margin-bottom: 5px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/pics/BTShearts.png");
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 700px;
  max-height: 800px;
  text-align: center;
  aspect-ratio: 1 / 1;
  justify-content: center;
  margin: 0 auto;
}

#hero-btn {
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 8px;
  background-color: rgb(194, 117, 235);
  color: #fff;
}

#hero-btn:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 #fff, 0 4px 8px 0 #fff;
  transition: ease-in-out;
}

@media (max-width: 700px) {
  header h1 {
    font-size: 60px;
  }

  header h2 {
    font-size: 15px;
  }

  header h3 {
    font-size: 10px;
  }

  #hero-btn {
    padding: 5px;
  }
}
